.NotAllowed{
    font-size: 20px;
    padding-top: 200px;
    text-align: center
}

.NotAllowed i{
    font-size: 60px;
    color: #d23939;
}

.NotAllowed p{
    padding-top: 10px;
}

.NotAllowed a{
  color: #d23939;
  text-decoration: underline;
}
