input{
  text-transform:uppercase;
}

input[readonly], input[disabled]{
  background-color: white !important;
  border-style: none;
}

.noBorder{
    border-style: none;
}

.labelContainer{
    padding-bottom: 15px;
}
