<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portal de Control de Inventarios</title>
    <meta name="description" content="description project">
    <meta name="author" content="name" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!--Hojas de estilos-->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/toastr.css" rel="stylesheet" />
    <link href="css/spinner/spinner.css" rel="stylesheet">
    <!--     <link href="/css/datepicker3.css" rel="stylesheet">
    <script src="js/libs/bootstrap-datepicker.js"></script> -->
    <link href="css/datepicker3.css" rel="stylesheet">
    <link href="css/nifty.min.css" rel="stylesheet">
    <link href="css/tab.css" rel="stylesheet">
    <link href="css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="css/demo/nifty-demo.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/themify-icons/themify-icons.min.css">
    <!-- <link href="css/datatables.min.css" rel="stylesheet" /> -->
    <link href="plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet">
    <!-- estilos para inputs (mayúsculas y disabled) -->
    <link href="css/inputs/inputsStyles.css" rel="stylesheet">
    <!-- estilos para módulos sin permiso -->
    <link href="css/notAllowedPage/notAllowed.css" rel="stylesheet">
</head>

<body ng-app="registrationModule" ng-controller="mainController" ng-init="init()">
    <div id="container" class="effect aside-float aside-bright mainnav-sm">
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar" ng-show="mostrarMenu == 1" class="onlyPrint">
            <div id="navbar-container" class="boxed">
                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header onlyPrint">
                    <a href="#" class="navbar-brand " data-toggle="tooltip" title="Salir" ng-click="salir()">
                        <img src="img/logo.png" alt="Nifty Logo" class="brand-icon">
                        <div class="brand-title">
                            <span class="brand-text">GA</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->
                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix onlyPrint">
                    <ul class="nav navbar-top-links pull-left">
                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-view-list">&nbsp; Portal de Control de Inventarios</i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links pull-right">
                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right">
                                    <i class="demo-pli-male ic-user"></i>
                                </span>
                                <div class="username hidden-xs"> {{userData.NombreUsuario}}</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">
                                <!-- Dropdown footer -->
                                <div class="pad-all text-right">
                                    <a href="pages-login.html" class="btn btn-primary" ng-click="salir()">
                                        <i class="demo-pli-unlock"></i> Salir
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End user dropdown-->
                        <li>
                            <a href="#" class="aside-toggle navbar-aside-icon">
                                <i class="pci-ver-dots"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->
            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->
        <div class="boxed">
            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                <div ng-view></div>
            </div>
            <!--===================================================-->
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container" class="onlyPrint" ng-show="mostrarMenu == 1">
                <div id="mainnav">
                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <!--Profile Widget-->
                                <!--================================-->
                                <div id="mainnav-profile" class="mainnav-profile">
                                    <div class="profile-wrap">
                                        <div class="pad-btm">
                                            <!-- <span class="label label-success pull-right"></span> -->
                                            <img class="img-circle img-sm img-border" src="img/profile-photos/1.png" alt="Profile Picture">
                                        </div>
                                        <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                            <span class="pull-right dropdown-toggle">
                                            </span>
                                            <p class="mnp-name"> {{userData.NombreUsuario}}</p>
                                            <!-- <span class="mnp-desc">{{datosUsuario[0].correo}}</span> -->
                                        </a>
                                    </div>
                                </div>
                                <ul id="mainnav-menu" class="list-group">
                                    <!--Category name-->
                                    <li class="list-header">Navegación</li>
                                    <!--Menu list item-->
                                    <li ng-show="userData.generadorLayout == true">
                                        <a href="/generaLayout">
                                            <i class="glyphicon glyphicon-export"></i>
                                            <span class="menu-title">
                                                <strong>Layouts</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li ng-show="userData.cargaLayout == true">
                                        <a href="/cargaLayout">
                                            <i class="glyphicon glyphicon-import"></i>
                                            <span class="menu-title">
                                                <strong>Carga de Layouts</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li ng-show="userData.cargaInventario == true">
                                        <a href="/cargaInventario">
                                            <i class="glyphicon glyphicon-edit"></i>
                                            <span class="menu-title">
                                                <strong>Carga de Inventarios</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li ng-show="userData.notificaciones == true">
                                        <a href="/notificaciones">
                                            <i class="glyphicon glyphicon-send"></i>
                                            <span class="menu-title">
                                                <strong>Cambio de Estatus</strong>
                                            </span>
                                        </a>
                                    </li>

                                </ul>
                                <div class="main">
                                    <div></div>
                                    <input type="hidden" id="lgnUser" value="[[ user.idUsuario ]]">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->
                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->
        </div>
        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn onlyPrint">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->
    </div>
    <!--Interface de usuario-->
    <!-- Librerias Angular-->
    <script src="js/tab.js"></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/libs/angular/angular.min.js"></script>
    <script src="js/libs/angular/angular-route.min.js"></script>
    <script src="js/libs/angular/angular-local-storage.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/libs/toastr/toastr.min.js"></script>
    <script src="js/demo/ui-panels.js"></script>
    <script src="js/datatables.min.js"></script>
    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="js/nifty.min.js"></script>
    <link href="plugins/pace/pace.min.css" rel="stylesheet">
    <script src="plugins/pace/pace.min.js"></script>
    <script src="js/demo/nifty-demo.min.js"></script>
    <script src="js/vfs_fonts.js"></script>
    <script src="js/ui-grid.js"></script>
    <link rel="stylesheet" href="css/ui-grid.css" type="text/css">
    <!--Responsive table-->
    <script src="plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="js/demo/tables-datatables.js"></script>

    <!-- Sweet Alert -->
    <link rel="stylesheet" type="text/css" href="plugins/sweetalert/dist/sweetalert.css">
    <script src="plugins/sweetalert/dist/sweetalert.min.js"></script>

    <!-- <script src="js/libs/navBar.js"></script> -->
    <!-- <script src="js/libs/jsTree/jstree.min.js"></script> -->

    <!-- Dropzone -->
    <link rel="stylesheet" type="text/css" href="plugins/dropzone/dropzone.min.css">
    <script src="plugins/dropzone/dropzone.min.js"></script>

    <!--Funciones Comunes-->
    <script src="confront.js"></script>
    <script src="helpers.js"></script>

    <!--Librerias de aplicación angular-->
    <script src="AngularJS/registrationModule.js"></script>

    <!--librerias de componenetes-->
    <script src="AngularJS/alertFactory.js"></script>
    <script src="AngularJS/userFactory.js"></script>

    <!-- Librerias -->
    <script type="text/javascript" src="js/angular-md5.js"></script>

    <!--Controllers-->
    <script src="AngularJS/Main/mainController.js"></script>
    <script src="AngularJS/login/loginController.js"></script>
    <script src="AngularJS/login/loginRepository.js"></script>
    <script src="AngularJS/Layouts/layoutController.js"></script>
    <script src="AngularJS/Layouts/layoutRepository.js"></script>
    <script src="AngularJS/CargaLayouts/cargaLayoutsController.js"></script>
    <script src="AngularJS/CargaInventarios/cargaInventarioController.js"></script>
    <script src="AngularJS/CargaInventarios/cargaInventarioRepository.js"></script>
    <script src="AngularJS/Notificaciones/notificacionCambioEstatusController.js"></script>
    <script src="AngularJS/Notificaciones/notificacionCambioEstatusRepository.js"></script>
</body>

</html>
