<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body style="font-size:10px; margin: 0;padding: 30px; font-family:Helvetica;">
  <div style="text-align:center;">
   <img src="\images\logoa.png" alt="" style="height: 60px;">
  </div>
  <div style="background-color: blue; margin:0px -30px; height:14px;">
  </div>
  <h3 style="text-align:center;">Formato de pago</h3>
  <div style="border: 2px solid blue; border-radius:12px;">
    <div style="background-color: blue;color:white;padding: 4px 8px;border-radius: 10px 10px 0 0;">
      CONCEPTO DE COBRO
    </div>
    <div style="padding: 4px 8px;">
      Referencia de pago para documento: [[idDocumento]]
    </div>
    <div style="background-color: blue;color:white;padding:4px 8px;">
      <div style="display:inline-block; width:59%;">
        DATOS
      </div>
      <div style="display:inline-block; width:39%;">
        CONCEPTOS
      </div>
    </div>
    <div class="">
      <div style="display:inline-block; width:48%; height:100px; padding: 4px 8px; box-sizing: border-box;">
        Empresa: [[nombreEmpresa]]
        <br/>
        Cliente: [[nombreCliente]]
<br/>
         Sucursal: [[nombreSucursal]]
<br/>
         Departamento: [[nombreDepartamento]]
<br/>
         Documento: [[idDocumento]]
      </div>
      <div style="display:inline-block; width:28%;height:100px; padding: 4px 8px; box-sizing: border-box; border-left: 2px solid blue; vertical-align:top">
        Abono a   Documento: [[idDocumento]]
      </div>
      <div style="display:inline-block; width:18%;height:100px; padding: 4px 8px; box-sizing: border-box; border-left: 2px solid blue; vertical-align:top">
        Monto total $[[saldo]]
      </div>
    </div>
  </div>
  <div>
    <div style="display:inline-block; margin:16px 1% 16px 0; width:48.5%; padding:6.65px; border: 2px solid blue; border-radius:12px; box-sizing: border-box;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <span style="display:block; text-align:center;">SELLO</span>
      <br>
    </div>
    <div style="display:inline-block;  margin:16px 0px 16px 1%; width:48.5%; border: 2px solid blue; border-radius:12px; box-sizing: border-box;">
      <br>
      <br>
      <br>
      <br>
      <span style="display:block; text-align:center;">____________________________________________</span>
      <span style="display:block; text-align:center;font-size:8px;margin-bottom:4px;">NOMBRE Y FIRMA DEL CLIENTE</span>
      <span style="background-color: blue;display:block;color:white;text-align:center;padding:2px;">REFERENCIA</span>
      <span style="
    font-size: 15px;
    text-align: center;
    width: 100%;
    display: block;
    margin: 6px 0;">
        [[referencias]]      </span>
    </div>
  </div>
  <div>
    <div style="box-sizing: border-box; width:48.5%; display:inline-block;">

    </div>
    <div style="box-sizing: border-box; width:48.5%; display:inline-block;">
      <!--img src="[[barcode]]" />'-->
    </div>
  </div>
  <div style="border:dashed 1px blue; margin:0px -30px;">
  </div>
  <br>
  <div class="">
     <div style="box-sizing: border-box; width:48.5%; display:inline-block;">
      <div style="text-align:center;">
        
      </div>
      <div style="display:block;  margin:4px 0px 4px 1%;  border: 2px solid blue; border-radius:12px; box-sizing: border-box;">
        <span style="border-radius: 10px 10px 0 0;background-color: blue;display:block;color:white;padding:2px 16px;">CONCEPTO DE ABONO</span>
        <br>
        <br>
        <br>
        <br>
        <br>
        <span style="background-color: blue;display:block;color:white;text-align:center;padding:2px;">REFERENCIA</span>
        <span style="
      font-size: 15px;
      text-align: center;
      width: 100%;
      display: block;
      margin: 6px 0;">
          [[referencias]] 
        </span>

      </div>
    </div>
    <div style="box-sizing: border-box; width:48.5%; display:inline-block;">
 
    </div>
  </div>
   <br>
        <br>
        <br>
    <div class="">
    <span style="display:block; text-align:center;font-size:10px;margin-bottom:4px;">Se puede pagar en cualquiera de estas sucursales</span>
     <div style="text-align:center;">
      <div style="display:inline-block; width:100%;">
          <div style="display:inline-block; width:20%">
              <img src="\images\banamex_logo.jpg" alt="" style="height: 20px; ">
          </div>
          <div style="display:inline-block; width:20%">
              <img src="\images\bancomer.jpg" alt="" style="height:20px; ">
          </div>
          <div style="display:inline-block; width:20%">
              <img src="\images\santander_logo.jpg" alt="" style="height: 20px ">
          </div>
      </div> 
      </div>
    </div>
</body>
</html>


